[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[pull]
	rebase = true
[rebase]
	autosquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	rulerWidth = 47
	markEmptyLines = false
	stripLeadingSymbols = false
[commit]
	verbose = true
[tag]
	sort = version:refname
[user]
	useConfigOnly = true
[alias]
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; :"
[user]
	name = Laurens Duijvesteijn
	email = git@duijf.io
[user "personal"]
	name = Laurens Duijvesteijn
	email = git@duijf.io
[user "iterative"]
	email = laurens@iterative.ai
	name = Laurens Duijvesteijn
[checkout]
	defaultRemote = origin
[init]
	defaultBranch = main
