!Black
URxvt.color0: #262626
URxvt.color8: #5D5D5D

!Red
URxvt.color1: #C75646
URxvt.color9: #E09690

!Green
URxvt.color2: #8EB338
URxvt.color10: #CDEE69

!Yellow
URxvt.color3: #D0B03C
URxvt.color11: #FFE377

!Blue
URxvt.color4:  #72B3CC
URxvt.color12: #9CD9F0

!Magenta
URxvt.color5:  #C9A0D1
URxvt.color13: #FBB1F9

!Cyan
URxvt.color6:  #218693
URxvt.color14: #77DFD8

!White
URxvt.color7: #B0B0B0
URxvt.color15: #F7F7F7

URxvt.background: #262626
URxvt.colorBD: #FFFFFF
URxvt.cursorColor: #A0A0A0
URxvt.cursorColor2: #FFFFFF
URxvt.foreground: #F8F8F2

URxvt.internalBorder: 20
URxvt.scrollBar:      false
URxvt.font: xft:Ubuntu Mono-14

URxvt.perl-ext-common: fullscreen
URxvt.keysym.F11: perl:fullscreen:switch

URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true
