! Base 16 Greyscale
! Scheme: Alexandre Gavioli (https://github.com/Alexx2)

!#define base00 #101010
!#define base01 #252525
!#define base02 #464646
!#define base03 #525252
!#define base04 #ababab
!#define base05 #b9b9b9
!#define base06 #e3e3e3
!#define base07 #f7f7f7
!#define base08 #7c7c7c
!#define base09 #999999
!#define base0A #a0a0a0
!#define base0B #8e8e8e
!#define base0C #868686
!#define base0D #686868
!#define base0E #747474
!#define base0F #5e5e5e

! #define base00 #0e0f12
! #define base01 #1d2025
! #define base02 #2d3138
! #define base03 #3f444d
! #define base04 #686e79
! #define base05 #818791
! #define base06 #9ea3ac
! #define base07 #c2c5cc
! #define base08 #bdb5a8
! #define base09 #babda8
! #define base0A #b0bda8
! #define base0B #a8bdb5
! #define base0C #a8b0bd
! #define base0D #b5a8bd
! #define base0E #bda8b0
! #define base0F #bdaba8

! #define base00 #101113
! #define base01 #202426
! #define base02 #32373a
! #define base03 #454b4e
! #define base04 #70777b
! #define base05 #898f94
! #define base06 #a6abaf
! #define base07 #c8ccce
! #define base08 #b09786
! #define base09 #b0ac86
! #define base0A #9eb086
! #define base0B #86b097
! #define base0C #869eb0
! #define base0D #9786b0
! #define base0E #b0869e
! #define base0F #b08689

#define base00 #111112
#define base01 #222425
#define base02 #343738
#define base03 #484b4d
#define base04 #737679
#define base05 #8c8f91
#define base06 #a7aaac
#define base07 #c8cbcc
#define base08 #7a7068
#define base09 #7a7968
#define base0A #737a68
#define base0B #687a70
#define base0C #68737a
#define base0D #70687a
#define base0E #7a6873
#define base0F #7a686a

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

URxvt.internalBorder: 20
URxvt.scrollBar:      false
URxvt.font: xft:Sauce Code Pro-12
