! Base 16 Greyscale
! Scheme: Alexandre Gavioli (https://github.com/Alexx2)

#define base00 #111112
#define base01 #222425
#define base02 #343738
#define base03 #484b4d
#define base04 #737679
#define base05 #8c8f91
#define base06 #a7aaac
#define base07 #c8cbcc
#define base08 #7a7068
#define base09 #7a7968
#define base0A #737a68
#define base0B #687a70
#define base0C #68737a
#define base0D #70687a
#define base0E #7a6873
#define base0F #7a686a

*.foreground:   #dfdfdf
*.background:   #171717
*.cursorColor:  #dfdfdf

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

! *.foreground:   base05
! *.background:   base00
! *.cursorColor:  base05
!
! *.color0:       base00
! *.color1:       base08
! *.color2:       base0B
! *.color3:       base0A
! *.color4:       base0D
! *.color5:       base0E
! *.color6:       base0C
! *.color7:       base05
!
! *.color8:       base03
! *.color9:       base09
! *.color10:      base01
! *.color11:      base02
! *.color12:      base04
! *.color13:      base06
! *.color14:      base0F
! *.color15:      base07

URxvt.internalBorder: 20
URxvt.scrollBar:      false
URxvt.font: xft:Sauce Code Pro-12
